POSTGRES_PASSWORD=test_pass
POSTGRES_USER=test_user
POSTGRES_DB=test_db
POSTGRES_PORT=5432

TASK_DATABASES=task1,task2,task3,task4,task5,task6,task7

DATABASE_URL=postgresql://test_user:test_pass@localhost:5432/test_db
